@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
h2{
  font-family: 'Russo One', sans-serif;
  font-weight: normal;
  font-size: 61px;
  padding-top: 20px;
  margin: 0;
  border-bottom: 4px solid #000000;
}
h3{
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 4px solid #e10600;
  margin: 0px;
}
h4{
  color: orange;
  font-family: 'Russo One', sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 4px;
}
h5{
  font-family: 'Russo One', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 4px;
}
body{
  font-family: 'Roboto', sans-serif;
  margin:0;
}
a{
  color: #2f3743;
  text-decoration: none;
}
#header{
  text-align: center;
  padding: 16px 16px 16px 24px;
  margin: 0;
  background-color: #e10600;
  position:fixed;
  width: 100%;
  box-shadow: 0px 0px 4px gray;
  display:flex;
  justify-content: space-between;
}
#login{
  padding-right: 48px;
}
.main{
  padding-top: 38px;
  margin: 62px 40px 40px 40px;
  text-align: center;
}
#banner{
  border: 1px solid;
  margin-bottom: 20px;
  height: 200px;
  width: 100%;
  display: inline-block;
}
#submain{
  display: flex;
  justify-content: space-between;
}
.sub{
  border: 1px solid;
  width: 100%;
}
#grid{
  display:grid;
  grid-template-columns: 200px 1fr;
}
#grid ul{
  font-family: 'Russo One', sans-serif;
  font-weight: normal;
  padding-top: 86px;
  margin:0;
  background-color: #f2f2f2;
  line-height: 200%;
  box-shadow: 0px 0px 2px gray;
}
#content{
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 62px;
}
.active{
  color:#e10600;
  font-weight:900;
  text-transform: uppercase;
}
.past_event{
  margin-top: 0px;
  margin-bottom: 0px;
  color:gray;
  font-size: 11pt;
}
.next_event{
  margin-top: 0px;
  margin-bottom: 0px;
  color:#e10600;
  font-size: 14pt;
  font-weight: 700;
}
.card{
  margin: 16px 8px 0px 0px;
  list-style-type: none;
  padding: 16px;
  box-shadow: 0px 0px 2px gray;
  height: 120px;
  width: 360px;
  border-radius: 8px;
  display: inline-grid;
}
.event{
  color: #d2d2d2;
  font-weight:400;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: 0px 0px 10px Black;
}
.dashboard{

}
@media(max-width:720px){
  .main{
    padding-top: 0px;
  }
  #banner{
    height: 100px;
  }
  #grid{
    display: block;
  }
  #grid ul{
    padding-top: 72px;
    padding-bottom: 8px;
    width: 100vh;
  }
  #content{
    padding-top: 0px;
  }
  li{
    padding-right: 20px;
    display: inline;
  }
  .card{
    grid-template-rows: 24px;
  }
}
